@charset "utf-8";
/*
@aarjs
filename modal.css
*/
.modal-container {
    position: fixed;
    top: 0;
    background-color: white;
    border-style: ridge;
    border-color: rgb(255, 75, 0);
    background-color: black;
    text-align: center;
    max-width: 80%;
    min-width: 800px;
    left: 50%;
    padding: 20px;
    
    -webkit-transform: translate(-50%, -300%);
    -ms-transform: translate(-50%, -300%);
    transform: translate(-50%, -300%);
}
.modal-container img {
    width: 70%;
}

.modal:before {
    position: fixed;
    content: "";
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal:target:before {
    display: block;
}

.modal:target .modal-container {
    -webkit-transform: translate(-50%, 50%);
}

