@charset "utf-8";
/*
@aarjs
filename styling.css
*/

/* Universal Styling Options */
* {
    box-sizing: border-box;
}
/* Body Styling */
body {
    background-color: rgb(255, 75, 0);
}

/* Link Styles */
a:link {
	color: white;
    text-shadow: -1px -1px rgb(255, 50, 0);
}
a:visited {
	color: darkorange;
}
a:hover {
	color: rgb(255, 50, 0);
}
a:active {
	color: black;
}

/* Navigation Styling */
nav {
    background-color: black;
    font-size: 1.2em;
}

/* Header Styling */
h1 {
    font-size: 2.0em;
    background-color: black;
    color: white;
    text-shadow: 3px 3px rgba(255, 75, 0, 0.8);
    border-style: ridge;
    border-color: rgb(255, 75, 0);
}
h2 {
    font-size: 1.5em;
    background-color: black;
    color: rgba(255, 75, 0, 0.8);
    text-decoration: underline;
    border-style: ridge;
    border-color: rgb(255, 75, 0);
}

/* Article Styling */
article {
    background-color: white;
}

article p {
    font-size: 1.2em;
    background-color: black;
    color: white;
}
article ul {
    border-style: ridge;
    border-color: rgb(255, 75, 0);
}
article ul li {
    background-color: black;
    color: white;
    font-size: 1.5em;
    list-style-type: none;
    padding-bottom: 10px;
}

article table {
    background-color: black;
    color: white;
    border-style: ridge;
    border-color: rgb(255, 75, 0);
}
article table th {
    text-shadow: -1px -1px rgb(255, 50, 0);
    font-size: 2.0em;
}

article table td {
    font-size: 1.2em;
}

article table th.rowheader {
    text-decoration: underline;
}

article figure {
    background-color: black;
    color: white;
    font-size: 1.2em;
}
article figure figcaption {
    padding: 1%;
}


/* Aside Styling */
aside {
    background-color: black;
    color: rgb(255, 75, 0);

}
aside ul li {
    font-size: 2.0em;
    padding: 0;
    list-style-type: none;
}

/* Aside styling */
aside p {
    font-size: 1.5em;
}
aside form {
    color: white;
    font-size: 1.2em;
}
aside form input#emailbox {
    font-size: 1.0em;
}
aside form input#submitbutton {
    font-size: 1.2em;
}

/* Footer Styling */
footer {
    background-color: black;
    color: white;
    font-size: 1.2em;
}